.social-lists {
  li {
    display: inline-block;
  }
}
.social-btn {
  color: rgba(255,255,255,0.8);
  text-shadow: none;
  &:hover,
  &:visited {
    color: $white;
  }
}
.share-btn {
  color: $blue;
  text-shadow: none;
  &:hover,
  &:visited {
    color: $light-red;
  }
}