/**
 * Avatar
 */

@keyframes rotateAvatar{

    100% {
        transform: rotate(360deg);
        background: url(../images/avatar.jpg) center no-repeat;
		background-size: 100% 100%;
    }
}
.avatar {
    width: 150px;
    height: 150px;
    border-radius: 95px;
    border: 5px solid $light-blue;
    background: url(../images/cartoon-avatar.jpg) center no-repeat;
    background-size: 80% 80%;
    &:hover {
	animation: rotateAvatar 1s ease;
	animation-fill-mode: forwards;
	cursor: pointer;
    }
}

