
  nav {
    float: right;
    margin: 2em 0 0 0;
    a {
      color: $blue;
      text-decoration: none;
      text-shadow: 1px 1px $white, 2px 2px $darker-white;
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }



.pag-holder {
  nav {
    float: none;
    .pagination {
      text-align: center;
      li {
        display: inline-block;
        a {
          cursor: pointer;
          display: inline-block;
          height: 25px;
          width: 25px;
        }
        &:not(:last-child) {
          a {
            margin-right: 5px;
          }
        }
        span {
          font-weight: $base-font-bold;
          color: $light-red;
          text-shadow:  1px 1px $dark-white ,2px 2px $darker-white;
          margin-right: 5px;
        }
      }
      .active {
        a {
          pointer-events: none;
          cursor: auto;
          @include border-radius(0.3em);
          background-color: $blue;
          text-shadow: none;
          color: $white;
          box-shadow: 1px 1px 0 1px $darker-white;
          -webkit-box-shadow: 1px 1px 0 1px $darker-white;
        }
      }
    }
  }
}

.error-wrapper {
  nav {
    float: none;
	font-size: $large-font-size;
  }
}