/**
 * Reset some basic elements
 */
body {
  height:100%;
} 

header, section {
  width: 100%;
  position: relative;
}

section {
  padding: $spacing-unit 0;
}

.main-wrapper,.error-wrapper {
  min-width: 320px;
  min-height: 100%;
  height: auto;
  position: relative;
}

/**
 * Site header
 */

#header {
  background-color: $light-blue;;
}

/**
 * Site banner
 */

#banner {
  background-color: $light-blue;
  padding-bottom: 0;
  height: 330px;
  overflow: hidden;
  .wrapper {
    height: 100%;
    position: relative;
    padding: 0;
    svg {
      position: absolute;
      bottom: 0;
    }
  }
}

/**
 * About me
 */

#about {
  .wrapper {
    .content {
      text-indent: 2em;
      text-align:justify;
      color: $grey-color;
      margin: 20px 10%;
    }
  }
  a {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  .avatar {
    position: relative;
    left: 50%;
    margin-left: -75px;
}

}

/**
 * Blog
 */

#blog {
  background-color: $blue;
  height: auto;
  #sky {
    position: absolute;
	max-height: 150px;
  }
  .wrapper {
    position: relative;
	background: url(../images/cloud.png) 15% bottom no-repeat;
	background-size: 100px 73px;
    padding: 0;
    .content {
      position: relative;
      margin: 20px auto;
      width: 100%;
      h1 {
        margin: 0 0 40px 0;
      }
    }
  }
}
/**
 * Projects
 */


/**
 * Comments
 */
#comments {
  padding-top: 0;
}

/**
 * Site footer
 */

#footer {
  width: 100%;
  position: absolute;
  bottom: -150px;
  .footer-border {
    width: 100%;
    height:30px;
    background: url(../images/wave.png);
    background-size: 100px 30px;
    background-repeat: repeat-x;
  }
  .footer-content {
    background-color: $blue;
    padding: 30px 0;
  }
  .social-wrapper {
    width: 100%;
  }
}

/**
 * 404
 */
 
.error-content {
  background-color: $blue;
  padding: 2em;
}