@include media-query($on-laptop) {
  #banner {
    height: 230px;
  }
  .wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}
@include media-query($on-palm) {
  .posts-list>li .date {
    display: block;
    float: none;
  }
  #banner {
    height: 180px;
  }
  .post-title {
	max-width: 100%;
  }
}
