<section id="about">
    <div class="wrapper">
        <div class="text-center">
            <h1 class="blue-title">微博@SuperJunior1106_怦蓝心动打投组</h1>
	    <div class="avatar"></div>
            <div class="content text-center">
                {{ site.author.about_me }}
            </div>
            <div style="margin: 10px 0">
                <a class="btn-primary btn-blue btn-left" href="https://weibo.com/u/7328949300" target="_blank">来微博找我玩-私信1获取加群链接</a>
				{% if site.author.resume %}
				<a class="btn-primary btn-blue btn-right" href="{{ site.author.resume }}" target="_blank">Resume</a>
				{% endif %}
            </div>
        </div>
    </div>
</section>
