<section id="about">
    <div class="wrapper">
        <div class="text-center">
            <h1 class="blue-title">About me</h1>
	    <div class="avatar"></div>
            <div class="content text-center">
                {{content}}
            </div>
            <div style="margin: 10px 0">
                <a class="btn-primary btn-blue" href="mailto:{{ site.email }}" target="_blank">Email me</a>
                <a class="btn-primary btn-blue" href="/resume">Resume</a>
            </div>
        </div>
    </div>
</section>
