<section id="blog">
    <div class="wrapper">
        <svg id="sky" xmlns="http://www.w3.org/2000/svg"  version="1.1" width="100%" height="100%" viewBox="0 0 1600 450">
            <g id="sun" fill="#F68479">
                <circle r="110" cx="1400" cy="230"/>
                <circle r="35" cx="1230" cy="230"/>
                <circle r="25" cx="1320" cy="65"/>
                <circle r="30" cx="1500" cy="80"/>
                <circle r="20" cx="1570" cy="230"/>
                <circle r="35" cx="1500" cy="380"/>
                <circle r="25" cx="1320" cy="380"/>
                <!--<animateTransform attributeName="transform" begin="0s" dur="3s" type="rotate" from="0 1400 230" to="360 1400 230" repeatCount="indefinite"/>-->
            </g>
        </svg>
        <div class="content text-center">
            <div>
                <h1 class="white-title">Blog of {{ site.author.name }}</h1>
            </div>
            <div>
				<a class="btn-primary btn-white" href="/blog/">Enter</a>
            </div>
        </div>
    </div>
</section>
