<section id="comments">
    <div class="wrapper">
        <div class="line-highlight"><i class="fa fa-paw" aria-hidden="true"></i></div>
        <h1 class="blue-title">Comments</h1>
        <div id="disqus_thread"></div>
		<div class="comment-desc">Powered by Disqus. If your browser can't load comments successfully, maybe you need to use a vpn.</div>
        <script async defer src="{{ "{{ site.url }}/assets/js/disqus-script.js" | prepend: site.baseurl }}"></script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </div>
</section>
