<section id="comments">
    <div class="wrapper">
        <div class="line-highlight"><i class="fa fa-paw" aria-hidden="true"></i></div>
		{% if site.comment %}
        <h1 class="blue-title">Comments</h1>
		{% endif %}
		{% if site.comment.disqus %}
		<div id="disqus_thread"></div>
		<!--<div class="comment-desc">Powered by Disqus. If your browser can't load comments successfully, maybe you need to use a vpn.</div>-->
		<script>
		/** * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS. * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */
		/*
		var disqus_config = function () { this.page.url = PAGE_URL;
		// Replace PAGE_URL with your page's canonical URL variable this.page.identifier = PAGE_IDENTIFIER;
		// Replace PAGE_IDENTIFIER with your page's unique identifier variable };
		*/
			(function() { // DON'T EDIT BELOW THIS LINE
				var d = document, s = d.createElement('script');
				s.src = '//{{ site.comment.disqus }}.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
		{% endif %}
       	
        {% if site.comment.laibili %}
        <!-- 来必力City版安装代码 -->
        <div id="lv-container" data-id="city" data-uid="{{ site.comment.laibili }}">
            <script type="text/javascript">
                (function(d, s) {
                 var j, e = d.getElementsByTagName(s)[0];
                 
                 if (typeof LivereTower === 'function') { return; }
                 
                 j = d.createElement(s);
                 j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
                 j.async = true;
                 
                 e.parentNode.insertBefore(j, e);
                 })(document, 'script');
                </script>
            <noscript> 为正常使用来必力评论功能请激活JavaScript</noscript>
        </div>
        <!-- City版安装代码已完成 -->
        {% endif %}
        
		{% if site.comment.youyan %}
		<!-- UY BEGIN -->
		<div id="uyan_frame"></div>
		<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid={{ site.comment.youyan }}"></script>
		<!-- UY END -->
		{% endif %}
    </div>
</section>
