<section id="comments">
    <div class="wrapper">
        <div class="line-highlight"><i class="fa fa-paw" aria-hidden="true"></i></div>
		{% if site.comment %}
        <h1 class="blue-title">Comments</h1>
		{% endif %}

		{% if site.comment.gitalk %}
		<!-- Gitalk  BEGIN-->
		<div id="gitalk-container" ></div>
		<script type="text/javascript">
            var gitalk = new Gitalk({
                clientID: '06d60e5287de2b4292cc',
                clientSecret: 'bdf1b23d4351a323bd556fde080567b0e0d0e138',
                repo: 'blogcomments',
                owner: 'songkong',
                admin: ['songkong'],
                id: location.pathname,
                distractionFreeMode: false
            });
            gitalk.render('gitalk-container')
		</script>
		<!-- Gitalk END -->
		{% endif %}


		{% if site.comment.youyan %}
		<!-- UY BEGIN -->
		<div id="uyan_frame"></div>
		<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid={{ site.comment.youyan }}"></script>
		<!-- UY END -->
		{% endif %}

    </div>
</section>
