{% if page.previous or page.next %}
<div class="post-pagination text-center">
  {% if page.next %}
  <a href="{{ page.next.url }}" class="btn-pagination" title="{{ page.next.title | markdownify | strip_html }}">Next</a>
  {% else %}
  <a href="#" class="btn-pagination disabled">Next</a>
  {% endif %}
  {% if page.previous %}
  <a href="{{ page.previous.url }}" class="btn-pagination" title="{{ page.previous.title | markdownify | strip_html }}">Previous</a>
  {% else %}
  <a href="#" class="btn-pagination disabled">Previous</a>
  {% endif %}
</div>
{% endif %}