{% if page.share != false %}
<div style="margin-top:30px">
    <a href="https://twitter.com/intent/tweet?text={{ site.url }}{{ page.url }}" class="share-btn twitter-btn" title="Share on Twitter"><i class="fa fa-fw fa-twitter" aria-hidden="true"></i></a>
    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" class="share-btn googleplus-btn" title="Share on Google Plus"><i class="fa fa-fw fa-google-plus" aria-hidden="true"></i></a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" class="share-btn facebook-btn" title="Share on Facebook"><i class="fa fa-fw fa-facebook" aria-hidden="true"></i></a>
    <a href="http://v.t.sina.com.cn/share/share.php?title={{ site.url }}{{ page.url }}" class="share-btn weibo-btn" title="Share on Sina Weibo"><i class="fa fa-fw fa-weibo" aria-hidden="true"></i></a>
</div>
{% endif %}
