---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;





// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "vendor/fonts",
        "vendor/font-awesome/font-awesome",
        "settings.color",
        "settings.fonts",
        "tools.mixins",
        "base.links",
        "components.nav",
        "components.socials",
        "components.tag",
        "base.text",
        "base",
        "layout",
        "syntax-highlighting",
        "settings.device",
	"components.img"
;
